<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Home - Literature Search Tool</title>
    <!-- Google Font - Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
    <!-- HEADER -->
    <header class="header">
        <div class="logo">
            <img id= header_logo src="/static/images/TCS-logo-white.svg" alt="TCS Logo">
        </div>
        <nav class="navbar">
            <a href="/" id="home-link" class="active">Home</a>
            <a href="/options" id="options-link">Options</a>
            <a href="/contact" id="contact-link">Contact</a>
            <a href="/help" id="contact-link">Help</a>
            <a href="https://www.tcs.com/" id="contact-link">About Us</a>
        </nav>
    </header>

    <!-- Main Content -->
<section class="section">
    <div id="future_container">
        <h2>Future Updates <i class='bx bx-code-alt'></i></h2>
    
        <ul>
            <li>Tooltips and more information for the cards on the option page</li>
            <li>User decide colors for keywords</li>
            <li>Loading spinner while loading</li>
            <li>Improving keyword lists - removing unnecessary terms / adding new terms</li>
            <li>Add/Fix Quick search function</li>
            <li>Add AI chat functionality</li>
            <li>Output of all found keyterms as summary into an excel or other form of file</li>
            <li>Add a reset button to delete uploaded pdf files <i class='bx bx-check-square'></i></li>
            <li>Add a result page for all searches, with the download and maybe results <i class='bx bx-check-square'></i></li> 
            <li>Add specific search function <i class='bx bx-check-square'></i></li>
            <li>Make finished files downloadable <i class='bx bx-check-square'></i></li>
            <li>Show user currently uploaded pdf files and eventually key word excel files <i class='bx bx-check-square'></i></li>
        </ul>
        <div class="navigation_buttons">
            <button class="btn4" id="back_options-btn">Back</button>
        </div>
    </div>
    
    <!-- Footer -->
    <footer class="footer">
            <p>Copyright &copy; 2024 by TCS | All Rights Reserved.</p>
            <div class="social-media">
                <a href="https://www.facebook.com/TataConsultancyServices/"><i class='bx bxl-facebook' ></i></a>
                <a href="https://www.facebook.com/TataConsultancyServices/"><i class='bx bxl-twitter' ></i></a>
                <a href="https://www.instagram.com/tcsglobal/?hl=en"><i class='bx bxl-instagram-alt' ></i></a>
                <a href="https://www.linkedin.com/company/tata-consultancy-services/"><i class='bx bxl-linkedin' ></i></a>
            </div>
    </footer>
</section>

    <!-- Scripts -->
    <script src="/static/script.js"></script>
</body>
</html>


