<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Home - Literature Search Tool</title>
    <!-- Google Font - Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
    <!-- HEADER -->
    <header class="header">
        <div class="logo">
<!--             <img id= header_logo src="/static/images/TCS-logo-white.svg" alt="TCS Logo"> -->
        </div>
        <nav class="navbar">
            <a href="/" id="home-link" class="active">Home</a>
            <a href="/options" id="options-link">Options</a>
            <a href="/contact" id="contact-link">Contact</a>
            <a href="/help" id="contact-link">Help</a>
            <a href="https://www.tcs.com/" id="contact-link">About Us</a>
        </nav>
    </header>

    <!-- Main Content -->
<section class="section">
    <div class="help_page">
        <h2 id="help_h2">FAQ</h2>
        <ul>
            <li>To access this page enter http://127.0.0.1:5000 into your webbrowser</li>
            <li>Uploaded Pdfs will be deleted once you start a new search</li>
            <li>Marking colors cannot be changed at this point of time</li>
            <li>For feedback please refer to the contact page</li>
        </ul>
        <hr>
        <h2 id="help_h2">Explanation of folder structure</h2>
        <ul>
            <li>Main folder: Lit search tool 1.2.x</li>
            <li>Folder highlighted_pdfs: Find the finished highlighted pdfs</li>
            <li>Folder previous_highlighted_pdfs: Highlighted pdfs from previous searchs will be stored here</li>
            <li>Folder uploaded_pdfs: Find your uploaded pdfs</li>
            <li>Folder uploaded_keywords: Find your uploaded excel keyword files</li>
            <li>Folder test_pdf: random medical literature for testing purposes</li>
            <li>Folder keywords: All Excel files with keywords - free to be modified as needed</li>
            <li>app.py = actuall app</li>
        </ul>
        <div class="navigation_buttons">
            <button class="btn" id="back_options-btn">Back</button>
        </div>
    </div>


</div> 
    <!-- Footer -->
    <footer class="footer">
        <p>Copyright &copy; 2024 | All Rights Reserved.</p>
        <div class="social-media">
            <a href="https://www.facebook.com/TataConsultancyServices/"><i class='bx bxl-facebook' ></i></a>
            <a href="https://www.facebook.com/TataConsultancyServices/"><i class='bx bxl-twitter' ></i></a>
            <a href="https://www.instagram.com/tcsglobal/?hl=en"><i class='bx bxl-instagram-alt' ></i></a>
            <a href="https://www.linkedin.com/company/tata-consultancy-services/"><i class='bx bxl-linkedin' ></i></a>
        </div>
</footer>
</section>

    <!-- Scripts -->
    <script src="/static/script.js"></script>
</body>
</html>


